<html>
        <body>
            <div style="text-align:center">
                <h1>Add new beast!</h1>
            </div>
            
            <div>
                <div class="animal" >
                    <form action='/new' method='post'>
                        <input type="text" name="name" placeholder="Name">
                        <input type="number" name="teeth">
                        <input class="submit" type='submit' value='Add'>
                    </form>   
                </div>  
                
            </div>
        </body>
    </html>